.swipe-planet {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-arrow {
    background-color: black;
    border: none;
    height: clamp(100px, 10vw, 140px);
    width: clamp(100px, 10vw, 140px);
    border-radius: 140px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn-arrow img {
    width: clamp(50px, 5vw, 110px);
}

.btn-arrow:hover {
    opacity: 0.8;
}

.swipe {
    position: absolute;
    z-index: 2;
    bottom: 40px;
}

.swipe-left {
    left: 40px;
}

.swipe-right {
    right: 40px;
}

.onBtn {
    font-size: 30px;
}

.planet-left {
    position: absolute;
    left: -80px;
    bottom: 0;
    width: clamp(250px, 30vmin, 400px);
    height: clamp(250px, 30vmin, 400px);
    object-fit: contain;
}

.planet-right {
    position: absolute;
    right: -60px;
    bottom: 0;
    width: clamp(250px, 30vmin, 400px);
    height: clamp(250px, 30vmin, 400px);
    object-fit: contain;
}
