@font-face {
    font-family: 'UNCAGE';
    src: url(/fonts/UNCAGE-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Widock';
    src: url(/fonts/Widock\ TRIAL\ Bold.otf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #02060D;
    overflow-x: hidden;
}

h1 {
    font-family: 'Widock';
    color: #FFFFFF;
}

p {
    font-family: 'UNCAGE';
    font-size: 20px;
}

a {
    font-family: 'UNCAGE';
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    transition: opacity 200ms;
}

a:hover {
    opacity: 0.7;
}

.link-active {
    color: #FF0000;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
