@font-face {
    font-family: 'UNCAGE';
    src: url(/fonts/UNCAGE-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Widock';
    src: url(/fonts/Widock\ TRIAL\ Bold.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url(../fonts/VCROSDMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #02060D;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'Widock';
    color: #FFFFFF;
}

p {
    font-family: 'UNCAGE';
    font-size: 20px;
}

a {
    font-family: 'UNCAGE';
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    transition: opacity 200ms;
}

a:hover {
    opacity: 0.7;
}

.active {
    color: #FF0000;
}

#root > div {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding-top: 155px;
}

@media (max-width: 1200px) {
    main {
        padding-top: 120px;
    }
}

@media (max-width: 790px) {
    main {
        padding-top: 105px;
    }
}

@media (min-width: 2560px) {
    p, a {
        font-size: 28px;
    }

    main {
        padding-top: 200px;
    }
}

